
#login2 {
    margin-left: 13%;         
}

.cadastro {
    color: darkblue;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

#btn {
    border-radius: 40px;
}

.btn2 {    
    margin-bottom: 10px;
}
#cadastrar{   
    background-color: rgb(226, 226, 226);
    padding: 2% 2% 2% 2%;
    border-radius: 2%;
}

#cancelarCadFornecedor{
    margin-right: 43px!important;
    border-right: 1px solid #00000073;
    border-bottom: 1px solid #00000073;
}

#cancelarCadFornecedor:hover {
    background: #8080809e;
}

.btn-success{
    border-right: 1px solid #1d7531!important;
    border-bottom: 1px solid #1d7531!important;
}


#senhaLogin {
    margin-left: 17px;
}

#reset {
    margin-left: 20px;
}

.form-group {
    margin-bottom: 2px;
}

body {
    background: url(../ResourcesIm/fundo.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.principal {
    font-weight: bold;
    border-color: #cf9bcc!important;
    border-radius: 5px;
    opacity: 0.7;
    color: black;
    float: left;
    margin-bottom: 100px;
    margin-left: 12%;
}

.logo{
    text-align: center;
    margin: 0 auto; 
    width: 279px;

}

.logo h3{
    width: 0px;
    display: block;
    float: left;
}

.logo img{
    width: 90px;
}

nav {
      background: #a0cce9;
    color: darkblue;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    #login {
        margin-left: 0px;
    }
    .btn2 {
        margin-left: 74%;
    } 
    .principal{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 769px) {

    .btn2 {
        margin-left: 60%;
    } 
}

/*JANELA MODAL*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

/* conteudo modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%!important;
}

.modal-content h2{
    text-align: center;
}

#modalSenha .modal-content p{
    text-align: center;
}

/* botao de fechar do modal*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}  


.btn-success {
    background-color: #a7de508c!important;
    border-color: #a7de508c!important;
}
.btn-cancel{
    background-color: #a7de508c!important;
    border-color: #a7de508c!important;
    margin-right: 1%;
    color: white;
}

.custom-control-label::before {
    border: 1px solid black;  
}   